body {
  background-image: url(../img/roosevelt-park.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

#content #main, #about {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#content #main img {
  margin-top: 5px;
  margin-bottom: 10px;
}

#loginMsg {
  margin-top: 15px;
  margin-bottom: -10px;
}

#resetForm {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

#attractionForm {
  margin-top: 2px;
  margin-bottom: 5px;
}

#imgForm {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  overflow: auto;
  width: 25%;
}

#imgFormUpload {
  float: left;
}

#imgFormTag {
  float: left;
  margin-right: 5px;
  margin-left: 90px;
}

#attractionsList {
  font-size: 22pt;
}

#attractionResultMsg {
  margin-top: 5px;
}

#attraction img {
  max-width: 800px;
  max-height: 500px;
}

#comments ul {
  list-style: none;
}

#commentEdit {
  margin-top: 5px;
  margin-left: 17%;
  float: left;
}

#commentEditTextArea {
  margin-top: 0px;
  margin-bottom: 10px;
}

#commentNew {
  margin-top: 3px;
  text-align: center;
}

#buttonGroup {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

#buttonGroup .btn {
  float: left;
  margin-right: 2px;
}

.footer {
  padding-top: 7px;
  color: white;
}

.dark-opac-bg {
  background-color: rgba(53, 53, 53, 0.95);
  border: 1px solid black;
}

.red {
  color: #ed1725;
}

.comment {
  background-color: rgba(53, 53, 53, 0.97);
  border: 1px solid black;
  width: 30%;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.commentDate {
  font-size: 10pt;
  color: grey;
}
